body {
	background: url(/img/toolbox_corner.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	background-size: 960px;
	font-family: "Open Sans", sans-serif;
}

.panel {
	background-color: rgba(255, 255, 255, 0.8);
}

.margin-base-vertical {
	margin: 40px 0;
}

.container {
	margin-top: 20px;
}

.some {
	margin-left: 5px;
	color: #333;
}

textarea {
   resize: none;
}

input-lg {
	width: 50%;
}

.btn-group {
	margin-top: 10px;
}

#headerLogo {
	height: 40px;
}

.offerCheckbox {
	width: 20px;
	height: 20px;
}

.table {
	background-color: rgba(255,255,255,0.8);
}

.solutionHeaderPanel {
	margin: 20px;
	padding: 10px;
	min-height: 120px;
	min-width: 200px;
}

.btn-message {
	background-color: rgba(255, 255, 255, 0.2);
	height: 50px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	background-color: rgba(0, 0, 0, 0.1);;
}

.editButton {
	margin: 4px;
}

.loader {
	background-image: url(/img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.modalCompanyLogo {
	margin-right: 24px;	
}

.companyMessageDiv {
	margin-right: 100px;
}

.userMessageDiv {
	margin-left: 100px;
}

.user-heading {
	background-color: #d8f5fe !important;
}

#submitMessage {
	margin-left: 20px;
}

.disclaimermargin {
	margin-top: 24px;
}

.headerLink {
	margin-right: 24px;
}

.btn-tarkastele {
	margin-left: 24px;
	margin-right: 12px;
}